<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSManagedObjectModel_CurrentVersionName</key>
	<string>Document</string>
	<key>NSManagedObjectModel_VersionHashes</key>
	<dict>
		<key>Document</key>
		<dict>
			<key>Applicant</key>
			<data>
			srgKoUazN6yt5IHMV8AYm0RHtIatGhrpqeVURWN+C5E=
			</data>
			<key>Application</key>
			<data>
			25xZQ7Sr/l0Sa6vnx5p/56DwsIqZ7pWCNSpUhjwg9TQ=
			</data>
			<key>Property</key>
			<data>
			ECWrFJ2o10S1aEW7SJq5g4C8NMWKyRKpmZXrqRIiJvs=
			</data>
		</dict>
	</dict>
</dict>
</plist>
